/* User Profile Menu */
.user-profile {
    width: 70px;
    height: 70px;
    padding: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.user-menu {
    width: 300px;
    height: 260px;
    position: absolute;
    top: 60px;
    right: 15px;
    background-color: #f8f9fa;
    border: 2px solid #c3c3c3;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 20px;
    display: flex;
    font-size: 15px;
    font-weight: 500;
    flex-direction: column;
    color: #332C39;
}

.user-menu button {
    border: 2px solid #d0d0d0;
    padding: 6px 5px;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0;
    width: 100%;
    font-family: "Kanchenjunga", sans-serif;
    text-align: center;
    background: #F0EEED;
}

.user-menu button:hover,
.add-account:hover {
    background-color: #555555;
    color: #F0EEED;
}

.add-account {
    width: 100%;
    padding: 6px 5px;
    cursor: pointer;
    border: 2px solid #d0d0d0;
    font-size: 13px;
    text-align: center;
    color: #332C39;
    font-weight: bold;
    border-radius: 5px;
    font-family: "Kanchenjunga", sans-serif;
    background: #F0EEED;
}

.logout-account {
    color: #332C39;
    font-weight: bold;
}


.profile-icon {
    width: 40px;
    height: 40px;
    background-color: #000000;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    font-family: "Kanchenjunga", sans-serif;
    text-align: center;
}

.menu-user-email {
    text-align: center;
    margin-bottom: 30px;
}

.menu-loggedin {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
}